body{
    background-color: purple;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.flecha:hover{
    background-color: rgb(61, 15, 61);   
}
.flecha:active{
    background-color: rgb(17, 80, 105);    
}
.calendario{
    margin: auto;
    background-color: gray;
    height: 400px;
    width: 500px;
}
.mth{
    float: left;
    margin: 100px;
    margin-top: 10px; 
    height: 50px;
    width: 200px; 
}
.Meses{
    height: 50px;
    width: 500px;
}

.flecha{  
    float: left;
    font-weight: bolder;
    height: 50px;
    width: 50px;
}
.day{
    text-align: center;
    vertical-align: middle;
    padding: 30%;
}
.dias{
    position:absolute;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 50%;
    width: 500px;
}
.day:hover{ 
    background-color:rgb(61, 15, 61);
    cursor: pointer;
}
#Contenedor:hover{
    cursor: pointer;
}
#Contenedor{
    height: 50px;
    width: 500px;
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
}
